
.mTSearch{position:relative;margin:0 -15px 225px;}
.mTSearch .input{position:relative;margin:0 15px;}
.mTSearch .keyword{border:0;border-bottom:1px solid #333;font-size:16px;width:100%;height:59px;}
.mTSearch .keyword:focus{border-bottom-color:#333;}
.mTSearch .btn-search{position:absolute;top:17px;right:0;border:0;background:url(../images/icon/ico-tsearch-pc.png) 50% 50% no-repeat;background-size:17px auto;text-indent:-9999px;font-size:0;width:25px;height:25px;}

.lAComplete{position:absolute;top:58px;left:0;background-color:#fff;border:1px solid #ececec;width:100%;}
.lAComplete ul{padding:10px 0;overflow:hidden;overflow-y:auto;height:185px;}
.lAComplete li a{display:block;font-size:14px;padding:7px 20px 6px;}
.lAComplete li em{color:#5953ac;font-style:normal;}
.lAComplete .close{background-color:#f5f4f9;text-align:right;}
.lAComplete .close a{display:inline-block;color:#777;font-size:14px;padding:0 10px;line-height:40px;height:38px;}

.mProfile{position:relative;margin:0 0 30px;zoom:1;}
.mProfile:after{display:block;clear:both;content:''}
.mProfile .text .nam{border-bottom:1px solid #ececec;padding:0 0 15px;}
.mProfile .text .nam .na1{font-size:20px;line-height:120%;padding-right:0;}
.mProfile .text .nam .na2{color:#999;font-size:14px;margin:5px 0 0;}
.mProfile .text .nam .na2 .tx{float:left;line-height:120%;margin:3px 5px 0 0;}
.mProfile .text .nam .na1,
.mProfile .text .nam .na2 .tx{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
.mProfile .text .desc{min-height:118px;}
.mProfile .text .txt{margin:10px 0 -5px;padding:0 110px 0 0;}
.mProfile .text .txt .dots{display:inline-block;position:relative;padding-left:10px;}
.mProfile .text .txt .dots:before{content:'';position:absolute;width:2px;height:2px;background-color:#bbb;display:block;border-radius: 50%;top: 50%;left:3px;transform: translate(0, -50%);}
.mProfile .text .txt .dots.type2{display:block;padding-left:0;}
.mProfile .text .txt .dots.type2:before{display:none;}
.mProfile .text .txt .dots.forPc{display:none;}
.mProfile .text dl{margin:10px 0;padding:0 110px 0 0;/*min-height:121px;*/}
.mProfile .text .des{padding-right:110px;text-align:justify;}
.mProfile .text dt{float:left;color:#999;}
.mProfile .text dd{margin:0; padding:0 0 5px 56px;}
.mProfile .mImg1{position:absolute;top:82px;right:0;width:95px;height:118px;}
.mProfile .text dd .underline{margin-left:10px;}

.mProfile.type2 .mImg1{height:135px;}
.mProfile.type2 .text .desc{min-height:135px;}

.mList6{border-left:1px solid #ececec;padding:1px 0 0;zoom:1;}
.mList6:after{display:block;clear:both;content:''}
.mList6 dt,
.mList6 dd{position:relative;float:left;border:1px solid #ececec;border-left:0;color:#777;margin:0 0 -1px;width:33.33%;line-height:68px;height:68px;}
.mList6 dt .ls span{background:url(../images/icon/ico-list6.png) 100% 45% no-repeat;background-size:6px auto;padding-right:10px;}
.mList6 dt{cursor:pointer;color:#333;font-weight:bold;font-size:14px;}
.mList6 dt.row2{line-height:120%;}
.mList6 dd.row2{line-height:120%;}
.mList6 dd.row2 .ls{padding-top:20px;}
.mList6 dd.row3{line-height:120%;}
.mList6 dd.row3 .ls{padding-top:12px;}

.mList6 .ls{display:block;text-align:center;}
.mList6 .brForMobile{background:none !important;}
.mList6 dl{margin:0;padding:0;}
.mList6 dl.hover{margin:-1px -1px 0;z-index:10;}
.mList6 dl.hover dt,
.mList6 dl.hover dd{position:relative;border:2px solid #534cbf;border-left:0;color:#534cbf;margin-bottom:0px;}
.mList6 dl.hover dd:last-child{border-right:2px solid #534cbf;}
.mList6 dl.hover dt{border-left:2px solid #534cbf;border-right:0;margin-left:-1px;}
.mList6 dl.hover dd{border-left:1px solid #ececec;border-right:0;}
.mList6 dl.hover dd:last-child{margin-right:-1px;}
.mList6 dl.hover dd .ls a{color:#534cbf;}

.mList6 dl.hover.list2 dt,
.mList6 dl.hover.list2 dd.lst1,
.mList6 dl.hover.list2 dd.lst2{margin-top:-1px;}
.mList6 dl.hover.list2 dt{border-bottom:1px solid #ececec;}
.mList6 dl.hover.list2 dt:before{content:"";position:absolute;bottom:0;right:-1px;background-color:#534cbf;width:3px;height:1px;z-index:10;}
.mList6 dl.hover.list2 dd.lst2{border-right:2px solid #534cbf;}
.mList6 dl.hover.list2 dd.lst3{border-top:0;border-left:2px solid #534cbf;margin-top:-1px;margin-right:1px;margin-left:-1px;padding:2px 0 0 2px;}

.mList6 dl.hover.list3 dt,
.mList6 dl.hover.list3 dd.lst1{margin-top:-1px;}
.mList6 dl.hover.list3 dt .ls{margin-left:-1px;}
.mList6 dl.hover.list3 dd.lst1{border-right:2px solid #534cbf;margin-right:-1px;}
.mList6 dl.hover.list3 dd.lst2{border-top:0;border-top:2px solid #534cbf;border-left:2px solid #534cbf;margin-top:-1px;margin-right:0;margin-left:0;padding:0 0 0 1px;}

.mList6 dl.hover.list4 dt{margin-top:-1px;}
.mList6 dl.hover.list4 dt .ls{margin-left:-2px;}
.mList6 dl.hover.list4 dd.lst1{;margin-top:-1px;margin-left:-1px;margin-right:0;padding-left:1px;}

.mList6 dl.hover.list5 dt,
.mList6 dl.hover.list5 dd.lst1,
.mList6 dl.hover.list5 dd.lst2{margin-top:-1px;}
.mList6 dl.hover.list5 dt,
.mList6 dl.hover.list5 dd.lst1,
.mList6 dl.hover.list5 dd.lst2,
.mList6 dl.hover.list5 dd.lst3,
.mList6 dl.hover.list5 dd.lst4,
.mList6 dl.hover.list5 dd.lst5,
.mList6 dl.hover.list5 dd.lst6,
.mList6 dl.hover.list5 dd.lst7{border-bottom:1px solid #ececec;}
.mList6 dl.hover.list5 dd.lst3,
.mList6 dl.hover.list5 dd.lst4,
.mList6 dl.hover.list5 dd.lst5,
.mList6 dl.hover.list5 dd.lst6,
.mList6 dl.hover.list5 dd.lst7,
.mList6 dl.hover.list5 dd.lst8,
.mList6 dl.hover.list5 dd.lst9,
.mList6 dl.hover.list5 dd.lst10{border-top:0;}
.mList6 dl.hover.list5 dd.lst3,
.mList6 dl.hover.list5 dd.lst6,
.mList6 dl.hover.list5 dd.lst9{border-left:2px solid #534cbf;margin-left:-1px;}
.mList6 dl.hover.list5 dd.lst2,
.mList6 dl.hover.list5 dd.lst5,
.mList6 dl.hover.list5 dd.lst8{border-right:2px solid #534cbf;}
.mList6 dl.hover.list5 dd.lst6,
.mList6 dl.hover.list5 dd.lst7,
.mList6 dl.hover.list5 dd.lst8,
.mList6 dl.hover.list5 dd.lst9,
.mList6 dl.hover.list5 dd.lst10{margin-top:-1px;}
.mList6 dl.hover.list5 dd.lst7:before{content:"";position:absolute;bottom:-2px;right:-1px;background-color:#534cbf;width:3px;height:3px;z-index:20;}

.mList6 dl.hover.list6 dt{border-right:2px solid #534cbf;margin-top:-1px;margin-left:-1px;}
.mList6 dl.hover.list6 dd.lst1{border-left:2px solid #534cbf;margin-top:-1px;margin-right:0;}

.mList6 dl.hover.list7 dt{margin-top:-1px;margin-left:-1px;}
.mList6 dl.hover.list7 dd.lst1{border-right:2px solid #534cbf;}
.mList6 dl.hover.list7 dd.lst2{border-left:2px solid #534cbf;}
.mList6 dl.hover.list7 dd.lst1,
.mList6 dl.hover.list7 dd.lst2{margin-top:-1px;margin-right:0;}

.mList6 dl.hover.list8 dt{margin-top:-1px;margin-left:-1px;}
.mList6 dl.hover.list8 dd.lst1{border-right:2px solid #534cbf;margin-top:-1px;margin-right:0;}

.mList6 dl.hover.list9 dt{margin-top:-1px;margin-left:0;}
.mList6 dl.hover.list9 dd.lst1{border-right:2px solid #534cbf;margin-top:-1px;margin-left:0;margin-right:-1px;}

.mList6 dl.hover.list10 dt{border-right:2px solid #534cbf;margin-top:-1px;margin-left:-1px;}
.mList6 dl.hover.list10 dd.lst1{border-left:2px solid #534cbf;margin-top:-1px;margin-right:0;}

.mList6 dl.hover.list11 dt{margin-top:-1px;margin-left:-1px;}
.mList6 dl.hover.list11 dd.lst1{border-right:2px solid #534cbf;margin-top:-1px;margin-right:0;}

.mDate1{border:1px solid #ececec;margin:15px 0;padding:20px 0 5px;}
.mDate1 .dep1{position:relative;margin:0 0 10px;}
.mDate1 .dep1 .date{display:block;color:#333;font-size:18px;text-align:center;line-height:33px;height:33px;}
.mDate1 .dep1 .iPrev,
.mDate1 .dep1 .iNext{position:absolute;top:0;left:15px;background:url(../images/icon/ico-prev3.png) 50% 50% no-repeat;background-size:19px auto;text-indent:-9999px;font-size:0;width:19px;height:33px;}
.mDate1 .dep1 .iNext{left:auto;right:15px;background-image:url(../images/icon/ico-next3.png);}
.mDate1 .dep2{display:block;background-color:#fff;padding:5px 0 12px 15px;text-align:center;}
.mDate1 .dep2 .lst{display:block;}
.mDate1 .dep2 a{display:inline-block;background:url(../images/icon/ico-bar1.png) 100% 45% no-repeat;color:#777;margin:7px 10px 0 0;padding:0 10px 0 0;line-height:130%;height:auto;}
.mDate1 .dep2 a:last-child{background-image:none;margin-left:0;padding-left:0;}
.mDate1 .dep2 a.selected{color:#333;font-weight:bold;border-bottom:0;font-weight:bold;height:auto;}
.mDate1 .dep2 a.selected:before{display:none;}

.mMDb6{position:relative;}
.mMDb6 .mImg1{margin:0 auto;width:100%;height:calc(100vw*0.55);}
.mMDb6 .mImg1 img{position:absolute;top:0;left:0;width:100%;}
.mMDb6 .text{position:absolute;top:50%;left:0;text-align:center;width:100%;}
.mMDb6 .tit{display:block;font-size:20px;color:#fff;font-weight:normal;margin:0 0 10px;}
.mMDb6 .txt{display:block;color:#fff;font-size:12px;filter:alpha(opacity=40);opacity:0.4;-moz-opacity:0.4;padding:0 10%;}

.mMDb1{position:relative;margin:0 0 15px;text-align:center;}
.mMDb1 .item{background-position:50% 0;background-repeat:no-repeat;background-size:100% auto;}
.mMDb1 .back{position:absolute;top:0;left:0;background:url(../images/db/k-db01.png) 0 0 repeat-x;background-size:1px auto;width:100%;height:100%;}
.mMDb1 .db1bg{position:relative;padding:90px 0 0;}
.mMDb1 h3{color:#fff;font-weight:100;font-size:23px;line-height:130%;margin:0 0 10px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;max-height:56px;}
.mMDb1 h3 a{color:#fff;}
.mMDb1 h3 span{background:url(../images/icon/k_uderline1.png) 0 85% repeat-x;background-size:auto 2px;font-style:normal;}
.mMDb1 .mTag1{margin:0 15px;padding-bottom:0;overflow:hidden;}
.mMDb1 .mTag1 a{background-color:#46409c;border-color:#46409c;color:#aca8ec;margin-bottom:3px;}
.mMDb1 .mTag1 a span{display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.mMDb1 .button{margin-top:35px;}
.mMDb1 .button .ls{display:block;padding:0 0 12px;}
.mMDb1 .button .ls a{display:inline-block;color:#bbb;font-size:14px;text-align:left;min-width:166px;line-height:50px;height:50px;}
.mMDb1 .button .ls a .mImg1{float:left;border-radius:50px;margin-right:10px;width:50px;height:50px;}
.mMDb1 .button .ls a .arr{display:inline-block;background:url(../images/db/ico-db03-01.png) 100% 46% no-repeat;background-size:5px auto;font-weight:normal;padding:0 10px 0 0;}
.mMDb1 .owl-theme .owl-dots{position:absolute;bottom:auto;top:0;right:10px;text-align:right;}
.mMDb1 .owl-theme .owl-dots .owl-dot a{background:#fff;filter:alpha(opacity=30);opacity:0.3;-moz-opacity:0.3;width:4px;height:4px;}
.mMDb1 .owl-theme .owl-dots .owl-dot.active a{filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}


.mMDb2{border-bottom:1px solid #ececec;margin:0 0 50px;padding:0 0 20px;}
.mMDb2 h3{border:1px solid #333;margin:0 15px 15px;color:#333;padding:10px 0;text-align:center;}
.mMDb2 h3 span{display:inline-block;background:url(../images/db/ico-db03-01.png) 100% 50% no-repeat;background-size:5px auto;font-weight:normal;font-size:14px;;padding:0 20px 0 0;}
.mMDb2 h3 em{display:block;font-size:16px;font-family: 'Oswald', sans-serif;font-style:normal;}
.mMDb2 .owl-carousel .owl-item{background-color:#fff;}
.mMDb2 .owl-carousel .owl-stage-outer{padding:0 15px;}
.mMDb2 .owl-carousel .owl-item .item{min-width:66px;}
.mMDb2 .owl-carousel .owl-item .item a{display:block;background:url(../images/db/ico-dbcate01-01.png) 50% 0 no-repeat;background-size:60px auto;color:#777;font-size:11px;padding:35px 0 0;text-align:center;}
.mMDb2 .owl-carousel .owl-item .item a.ico2{background-image:url(../images/db/ico-dbcate01-02.png);}
.mMDb2 .owl-carousel .owl-item .item a.ico3{background-image:url(../images/db/ico-dbcate01-03.png);}
.mMDb2 .owl-carousel .owl-item .item a.ico4{background-image:url(../images/db/ico-dbcate01-04.png);}
.mMDb2 .owl-carousel .owl-item .item a.ico5{background-image:url(../images/db/ico-dbcate01-05.png);}
.mMDb2 .owl-carousel .owl-item .item a.ico6{background-image:url(../images/db/ico-dbcate01-06.png);}
.mMDb2 .owl-carousel .owl-item .item a.ico7{background-image:url(../images/db/ico-dbcate01-07.png);}
.mMDb2 .owl-carousel .owl-item .item a.ico8{background-image:url(../images/db/ico-dbcate01-08.png);}
.mMDb2 .owl-carousel .owl-item .item a strong{display:block;}

.mMDb3{padding:0 0 50px;}
.mMDb3 .mTitle6{padding:0 15px;}
.mMDb3 .owl-carousel .owl-stage-outer{padding:0 15px;}
.mMDb3 .owl-carousel .owl-item{background-color:#fff;}
.mMDb3 .owl-carousel .owl-item .item{width:270px;zoom:1;}
.mMDb3 .owl-carousel .owl-item .item:after{display:block;clear:both;content:''}
.mMDb3 .owl-carousel .owl-item .mImg1{float:left;width:95px;height:135px;}
.mMDb3 .owl-carousel .owl-item .text{padding:0 0 0 105px;}
.mMDb3 .owl-carousel .owl-item .text .tit{display:block;color:#333;font-size:14px;text-overflow: ellipsis;white-space:nowrap;overflow:hidden;}
.mMDb3 .owl-carousel .owl-item .text .tis{display:block;color:#534cbf;font-style:normal;font-size:14px;margin:5px 0 0;text-overflow: ellipsis;white-space:nowrap;overflow:hidden;}
.mMDb3 .owl-carousel .owl-item .text .tit{font-size:14px;}
.mMDb3 .owl-carousel .owl-item .text li{position:relative;font-size:12px;padding:0 0 0 10px;}
.mMDb3 .owl-carousel .owl-item .text li:before{content:'';position:absolute;width:5px;height:5px;background-color:#000;display:block;border-radius:50%;top:6px;left: 0;}
.mMDb3 .owl-carousel .owl-item .text li em{font-style:normal;}
.mMDb3 .owl-carousel .owl-item .text li span{color:#999;}

.mMDb4{background-color:#534cbf;margin:0 0 50px;padding:35px 0 40px;}
.mMDb4 .mTitle6{margin:0 15px;}
.mMDb4 .gImg1{position:relative;background-color:#000;margin:0 15px 15px;}
.mMDb4 .gImg1 .mImg1{height:calc(100vw*0.54);}
.mMDb4 .gImg1 .mImg1{filter:alpha(opacity=40);opacity:0.4;-moz-opacity:0.4;height:calc(100vw*0.58);}
.mMDb4 .gImg1 .txt{position:absolute;top:50%;left:0;margin:-29px 0 0;width:100%;color:#fff;text-align:center;}
.mMDb4 .gImg1 .txt .ti{display:block;font-family:'Oswald', sans-serif;font-weight:normal;font-size:16px;letter-spacing:1px;filter:alpha(opacity=30);opacity:0.3;-moz-opacity:0.3;}
.mMDb4 .gImg1 .txt .tx{display:block;margin:5px 0 0;}
.mMDb4 .gImg1 .txt .tx span{background:url(../images/icon/k_uderline1.png) 0 85% repeat-x;background-size:auto 2px;font-style:normal;font-size:20px;}
.mMDb4 .mTitle6 h3,
.mMDb4 .mTitle6 .more{color:#fff;}
.mMDb4 .owl-carousel .owl-stage-outer{padding:0 15px;}
.mMDb4 .owl-carousel .owl-item .item{width:95px;}
.mMDb4 .owl-carousel .owl-item .item .more{display:block;border:1px solid #7570cc;color:#fff;font-size:13px;text-align:center;line-height:135px;height:135px;}
.mMDb4 .owl-carousel .owl-item .text{display:block;background-color:#fff;border:1px solid #fff;border-top:0;padding:0 9px;height:65px;}
.mMDb4 .owl-carousel .owl-item .text strong{display:block;line-height:130%;padding:9px 0 0;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;max-height:38px;}
.mMDb4 .owl-carousel .owl-item .text em{display:block;color:#999;font-style:normal;margin:3px 0 0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.mMDb4 .owl-carousel .owl-item .mImg1{height:135px;}
.mMDb4 .owl-carousel .owl-item a:hover .text{border-color:#7570cc;background-color:rgba(83, 76, 191, 0.8);-transition:background-color 1s;-webkit-transition:background-color 1s;}
.mMDb4 .owl-carousel .owl-item a:hover .text strong,
.mMDb4 .owl-carousel .owl-item a:hover .text em{color:#fff;}
.mMDb4 .owl-carousel .owl-item .item .more span{display:inline-block;background:url(../images/icon/ico-more.png) 0 49.5% no-repeat;background-size:16px auto;padding-left:25px;}

.mMDb5{padding:0 15px 42px;}
.mMDb5 .mTag1{padding:0;}

#jsPayVod .cont{margin-right:-10px;}
#jsPayVod .mCSB_inside > .mCSB_container{margin-right:15px;}
#jsPayVod .cont .scroll{text-align:left;height:240px;}

#jsSelNation .cont{margin-right:-10px;}
#jsSelNation .mCSB_inside > .mCSB_container{margin-right:15px;}
#jsSelNation .title{border-bottom:0;font-size:14px;}
#jsSelNation .cont .scroll{text-align:left;height:240px;}
#jsSelNation .cont .scroll .asset{margin-bottom:13px;}
#jsSelNation .cont .scroll .asset .label{display:inline-block;padding:0 0 0 5px;}

.mDMovie1{position:relative;border-bottom:1px solid #ececec;margin:-15px 0 16px;padding:0 15px 15px;}
.mDMovie1 img{vertical-align:middle;width:100%;}
.mDMovie1 .play{position:absolute;top:50%;left:50%;background:url(../images/icon/ico-play02.png) 0 0 no-repeat;background-size:40px auto;margin:-20px 0 0 -20px;width:40px;height:40px;}


@media all and (min-width:1024px){
	
	#jsSelNation .cont{margin-right:-22px;}
	#jsSelNation .title{font-size:18px;}
	#jsSelNation .cont .scroll{height:320px;}
	#jsSelNation .cont .scroll .asset{margin-bottom:17px;}
	#jsSelNation .cont .scroll .asset .label{display:inline-block;padding:3px 0 0 5px;}
	
	.mDMovie1 .movie1Bg,
	.mMDb3,
	.mMDb4 .db4bg,
	.mMDb5,
	.mMDb1 .db1bg{margin-left:auto;margin-right:auto;max-width:84.03%;}
	.mMDb1 .owl-theme .owl-dots .owl-dot a{width:8px;height:8px;}

	.mMDb2 .list{margin:0 auto;width:1035px;}

	.mDMovie1{padding-left:0;padding-right:0;padding-bottom:30px;margin:-20px auto 36px;}
	.mDMovie1 .movie1Bg{max-width:850px;}
	.mDMovie1 .play{background:url(../images/icon/ico-play02-pc.png) 0 0 no-repeat;margin:-30px 0 0 -30px;width:60px;height:60px;}

	.mMDb1{background-position:0 0;background-size:auto 680px;margin-bottom:30px;}
	.mMDb1 .back{position:absolute;top:0;right:0;background:url(../images/db/k-db01-pc.png) 100% 0 repeat-y;background-size:100% auto;width:100%;height:100%;}
	.mMDb1 h3{font-size:60px;margin-bottom:10px;max-height:156px;}
	.mMDb1 h3 span{background-size:auto 4px;}
	.mMDb1 .item{background-position:0 0;background-size:auto 680px;height:680px;}
	.mMDb1 .db1bg{position:relative;padding-top:180px;}
	.mMDb1 .mTag1{padding-top:10px;}
	.mMDb1 .button .ls{display:inline-block;margin:0 35px;}
	.mMDb1 .button .ls a{line-height:65px;height:65px;}
	.mMDb1 .button .ls a .mImg1{margin-right:20px;width:65px;height:65px;}
	.mMDb1 .button .ls a .arr{background:url(../images/db/ico-db03-01-pc.png) 100% 50% no-repeat;font-size:18px;padding:0 18px 0 0;}

	.mMDb2 h3{padding:25px 0 20px;}
	.mMDb2 h3 span{background:url(../images/db/ico-db03-01-pc.png) 100% 42% no-repeat;font-size:18px;margin:0 0 -2px;padding:0 15px 0 0;}
	.mMDb2 h3 em{font-size:28px;}
	.mMDb2 .owl-carousel .owl-item .item{min-width:115px;}
	.mMDb2 .owl-carousel .owl-item .item a{background:url(../images/db/ico-dbcate01-01-pc.png) 50% 30px no-repeat;font-size:18px;padding-top:84px;height:150px;}
	.mMDb2 .owl-carousel .owl-item .item a.ico2{background-image:url(../images/db/ico-dbcate01-02-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a.ico3{background-image:url(../images/db/ico-dbcate01-03-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a.ico4{background-image:url(../images/db/ico-dbcate01-04-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a.ico5{background-image:url(../images/db/ico-dbcate01-05-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a.ico6{background-image:url(../images/db/ico-dbcate01-06-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a.ico7{background-image:url(../images/db/ico-dbcate01-07-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a.ico8{background-image:url(../images/db/ico-dbcate01-08-pc.png);}
	.mMDb2 .owl-carousel .owl-item .item a strong{font-size:15px;}

	.mMDb3{padding-bottom:120px;}
	.mMDb3 .mTitle6{padding:0;}
	.mMDb3 .list{margin-right:-20px;}
	.mMDb3 .owl-carousel .owl-stage-outer{margin:0 0 0 -20px;padding:0;}
	.mMDb3 .owl-carousel .owl-item .item{border-left:1px solid #f5f4f9;padding:0 0 0 20px;width:auto;}
	.mMDb3 .owl-carousel .owl-item:first-child .item{border-left:0;}
	.mMDb3 .owl-carousel .owl-item .mImg1{float:none;width:auto;height:calc(100vw*0.26);}
	.mMDb3 .owl-carousel .owl-item .text{padding:17px 0 0;}
	.mMDb3 .owl-carousel .owl-item .text .tit,
	.mMDb3 .owl-carousel .owl-item .text .tis{font-size:18px;}
	.mMDb3 .owl-carousel .owl-item .text .tis{margin-top:12px;}
	.mMDb3 .owl-carousel .owl-item .text ul{padding-top:3px;}
	.mMDb3 .owl-carousel .owl-item .text li{font-size:15px;margin-top:4px;}
	.mMDb3 .owl-carousel .owl-item .text li:before{top:7px;}
	
	.mMDb5{padding-left:0;padding-right:0;}

	.mMDb6{position:relative;margin:0 auto;}
	.mMDb6 h3{font-size:34px;color:#fff;font-weight:normal;}
	.mMDb6 .mImg1{margin:0 auto;height:calc(100vw*0.21);}
	.mMDb6 .txt{font-size:18px;}

	.mMDb4{margin-bottom:110px;padding-bottom:70px;}
	.mMDb4 .db4bg{zoom:1;}
	.mMDb4 .db4bg:after{display:block;clear:both;content:''}
	.mMDb4 .mTitle6{margin:0;}
	.mMDb4 .gImg1{float:left;margin:0;width:57%;}
	.mMDb4 .gImg1 .mImg1{height: calc(100vw*0.3);}
	.mMDb4 .list{padding:0 0 0 59%;}
	.mMDb4 .owl-carousel .owl-stage-outer{padding:0;}
	.mMDb4 .owl-carousel .owl-item .mImg1{height: calc(100vw*0.152);}
	.mMDb4 .owl-carousel .owl-item .item{width:auto;}
	.mMDb4 .owl-carousel .owl-item .item .more{font-size:18px;text-align:center;line-height:203px;height:203px;}
	.mMDb4 .owl-carousel .owl-item .item .more span{background:url(../images/icon/ico-more-pc.png) 0 49% no-repeat;padding-left:30px;}
	.mMDb4 .owl-theme .owl-nav{position:absolute;bottom:0;left:0;width:100%;height:23px;}
	.mMDb4 .owl-theme .owl-nav a,
	.mMDb4 .owl-theme .owl-nav a:hover{background:none;top:0;color:#fff;font-size:18px;margin:0;text-indent:0;width:auto;line-height:130%;height:auto;}
	.mMDb4 .owl-theme .owl-nav .owl-next,
	.mMDb4 .owl-theme .owl-nav .owl-next:hover{background:url(../images/db/ico-db-next01.png) 100% 50% no-repeat;padding-right:40px;}
	.mMDb4 .owl-theme .owl-nav .owl-prev,
	.mMDb4 .owl-theme .owl-nav .owl-prev:hover{background:url(../images/db/ico-db-prev01.png) 0 50% no-repeat;padding:0 0 0 40px;}
	.mMDb4 .owl-carousel .owl-item .text{padding:0 19px;height:110px;}
	.mMDb4 .owl-carousel .owl-item .text strong{font-size:18px;font-weight:normal;padding-top:19px;max-height:64px;}
	.mMDb4 .owl-carousel .owl-item .text em{font-size:15px;margin-top:7px;}
	.mMDb4 .gImg1 .txt{margin-top:-55px;}
	.mMDb4 .gImg1 .txt .ti{font-size:28px;}
	.mMDb4 .gImg1 .txt .tx span{background-size:auto 4px;font-size:40px;}
	.mMDb4 .gImg1 .txt .tx{margin-top:10px;}

	.mMDb5{padding-bottom:100px;}

	.mTSearch{margin:90px auto 200px;width:580px;}
	.mTSearch .input{margin:0;}
	.mTSearch .keyword{border:0;border-bottom:2px solid #333;font-size:28px;width:100%;height:59px;}
	.mTSearch .btn-search{top:18px;background:url(../images/icon/ico-tsearch-pc.png) 0 0 no-repeat;}
	
	.lAComplete{top:57px;}

	.mProfile{position:relative;zoom:1;}
	.mProfile:after{display:block;clear:both;content:''}
	.mProfile .text{padding:0 290px 0 0;min-height:258px;}
	.mProfile .text .des{font-size:18px;}
	.mProfile .text .nam{border-bottom-width:2px;margin:0 0 15px 0;}
	.mProfile .text .nam .na1{font-size:40px;}
	.mProfile .text .nam .na2{font-size:18px;}
	.mProfile .text .nam .na2 .tx{margin-top:11px;}
	.mProfile .text dl{padding:0 110px 0 0;}
	.mProfile .text dt{;width:75px;}
	.mProfile .text dt.char2{width:36px;}
	.mProfile .text dd{margin:0; padding:0 0 5px 56px;}
	.mProfile .text dd.char2{padding-left:36px;}
	.mProfile .mImg1{top:0 !important;width:208px;height:258px;}
	.mProfile .text .txt .dots,
	.mProfile .text .txt .dots.type2{display:inline-block;padding-left:17px;}
	.mProfile .text .txt .dots:before{left:7px;top:10px;}
	.mProfile .text .txt .dots.type2:before{display:block;}
	.mProfile .text .txt .dots.forPc{display:inline-block;}

	.mProfile.type2 .mImg1{width:210px;height:300px;}
	.mProfile.type2 .text{min-height:258px;}
	.mProfile.type2 .text .nam .na2 .vod{margin-right:-10px;}
	.mProfile.type2 .text .desc{min-height:182px;}
	
	.mList6{padding:3px 0 0;}
	.mList6 dt,
	.mList6 dt.row2,
	.mList6 dd{border:1px solid #ececec;width:16.66%;margin:0 0 -1px -1px;line-height:118px;height:118px;}
	.mList6 dt{font-size:18px;}
	.mList6 dd{font-size:15px;}
	.mList6 dd.row2 .ls{padding-top:42px;}
	.mList6 dd.row2 .ls a{display:block;width:100%;height:100%;}
	.mList6 dl.hover{position:relative;margin:0 0 0;z-index:10;}
	.mList6 dl.hover dt,
	.mList6 dl.hover dd{position:relative;border:4px solid #534cbf;border-left:0;color:#534cbf;margin-bottom:-3px;line-height:112px;}
	.mList6 dl.hover dd.row2{line-height:120% !important;}
	.mList6 dl.hover dd.row2 .ls{padding-top:39px;}
	.mList6 dl.hover dt{border-left:4px solid #534cbf;border-right:0;}
	.mList6 dl.hover dt .ls{margin-left:-4px;}
	.mList6 dl.hover dd{border-left:1px solid #ececec;border-right:0;margin-left:-1px;}
	.mList6 dl.hover dd .ls{margin-left:-1px;}
	.mList6 dl.hover dd:last-child{border-right:4px solid #534cbf;margin-left:-1px;margin-right:0;}
	.mList6 dl.hover dd:last-child .ls{margin-right:-4px;}
	
	.mList6 dl.hover.list2 dt,
	.mList6 dl.hover.list2 dd{line-height:114px;height:119px;}
	.mList6 dl.hover.list2 .row2 .ls{padding-top:40px;}
	.mList6 dl.hover.list2 dd.lst2{border-right:4px solid #534cbf;}
	.mList6 dl.hover.list2 dd.lst2 .ls{margin-right:-5px;}
	.mList6 dl.hover.list2 dd.lst3 .ls{margin-left:-4px;}
	.mList6 dl.hover.list2 dd.lst3{border-left:4px solid #534cbf;}
	.mList6 dl.hover.list2 dt,
	.mList6 dl.hover.list2 dd.lst1,
	.mList6 dl.hover.list2 dd.lst2{border-bottom:4px solid #534cbf;margin-bottom:-1px;}
	.mList6 dl.hover.list2 dd.lst3{border-right:0;border-top:4px solid #534cbf;}
	.mList6 dl.hover.list2 dd.lst3{border:4px solid #534cbf;margin-top:-1px;margin-right:0;margin-bottom:-1px;}
	.mList6 dl.hover.list2 dd.lst3.row2 .ls{padding-top:38px;margin-left:-7px;}

	.mList6 dl.hover.list3 dt,
	.mList6 dl.hover.list3 dd{margin-top:0 !important;margin-bottom:-1px !important;}
	.mList6 dl.hover.list3 dt .ls{margin-left:-4px;}
	.mList6 dl.hover.list3 dd{border-right:0 !important;}
	.mList6 dl.hover.list3 dd.lst2{border-top-width:4px;}
	.mList6 dl.hover.list3 dd:last-child{border-left:1px solid #ececec !important;border-right:4px solid #534cbf !important;}
	.mList6 dl.hover.list3 dd:last-child .ls{margin-right:-4px;}
	
	.mList6 dl.hover.list4 dt,
	.mList6 dl.hover.list4 dd{margin-top:0 !important;margin-bottom:-1px !important;}
	.mList6 dl.hover.list4 dt .ls{margin-left:-4px;}
	.mList6 dl.hover.list4 dd{border-right:4px solid #534cbf !important;}
	
	.mList6 dl.hover.list5 dt,
	.mList6 dl.hover.list5 dd{border:1px solid #ececec !important;border-top:4px solid #534cbf !important;margin-top:0 !important;margin-bottom:-1px !important;}
	.mList6 dl.hover.list5 dt,
	.mList6 dl.hover.list5 dd.lst6{border-left:4px solid #534cbf !important;}
	.mList6 dl.hover.list5 dd.lst6,
	.mList6 dl.hover.list5 dd.lst7,
	.mList6 dl.hover.list5 dd.lst8,
	.mList6 dl.hover.list5 dd.lst9,
	.mList6 dl.hover.list5 dd.lst10{border-top:0 !important;border-bottom:4px solid #534cbf !important;padding-top:4px;}
	.mList6 dl.hover.list5 dd.lst5,
	.mList6 dl.hover.list5 dd.lst10{border-right:4px solid #534cbf !important;}
	.mList6 dl.hover.list5 dd.lst5{border-bottom:4px solid #534cbf !important;}
	.mList6 dl.hover.list5 dd.lst4:before{position:absolute;bottom:-1px;right:-1px;content:"";background:url(../images/icon/ico-conner1.png) 0 0 no-repeat;width:4px;height:4px;z-index:10;}
	.mList6 dl.hover.list5 dd.lst5 .ls,
	.mList6 dl.hover.list5 dd.lst10 .ls{margin-right:-4px;}
	.mList6 dl.hover.list5 dt .ls,
	.mList6 dl.hover.list5 dd.lst6 .ls{margin-left:-3px;}
	
	.mList6 dl.hover.list6 dt,
	.mList6 dl.hover.list6 dd{margin-top:0 !important;margin-bottom:-1px !important;border-right-width:4px;}
	.mList6 dl.hover.list6 dt .ls{margin-left:-1px;}
	.mList6 dl.hover.list6 dd{border-left-width:4px !important;border-right:4px solid #534cbf !important;}

	.mList6 dl.hover.list7 dt,
	.mList6 dl.hover.list7 dd{margin-top:0 !important;margin-bottom:-1px !important;}
	.mList6 dl.hover.list7 dt .ls{margin-left:-4px;}
	.mList6 dl.hover.list7 dd{border-right:0 !important;}
	.mList6 dl.hover.list7 dd.lst2{border-top-width:4px;}
	.mList6 dl.hover.list7 dd:last-child{border-left:1px solid #ececec !important;border-right:4px solid #534cbf !important;}
	.mList6 dl.hover.list7 dd:last-child .ls{margin-right:-4px;}
	
	.mList6 dl.hover.list8 dt,
	.mList6 dl.hover.list8 dd{margin:0 0 -1px !important;}
	.mList6 dl.hover.list8 dt{border-right:0 !important;}
	.mList6 dl.hover.list8 dt .ls{margin-left:-6px;}
	.mList6 dl.hover.list8 dd{border-left:1px solid #ececec !important;border-right:4px solid #534cbf !important;margin-right:0 !important;margin-left:-2px !important;}
	
	.mList6 dl.hover.list9 dt,
	.mList6 dl.hover.list9 dd{margin:0 0 -1px !important;}
	.mList6 dl.hover.list9 dt{border-right:0 !important;}
	.mList6 dl.hover.list9 dt .ls{margin-left:-6px;}
	.mList6 dl.hover.list9 dd{border-left:1px solid #ececec !important;border-right:4px solid #534cbf !important;margin-right:0 !important;margin-left:-2px !important;}
	
	.mList6 dl.hover.list10 dt,
	.mList6 dl.hover.list10 dd{margin:0 0 -1px !important;}
	.mList6 dl.hover.list10 dt{border-right:0 !important;}
	.mList6 dl.hover.list10 dt .ls{margin-left:-6px;}
	.mList6 dl.hover.list10 dd{border-left:1px solid #ececec !important;border-right:4px solid #534cbf !important;margin-right:0 !important;margin-left:-2px !important;}
	
	.mList6 dl.hover.list11 dt,
	.mList6 dl.hover.list11 dd{margin:0 0 -1px !important;}
	.mList6 dl.hover.list11 dt{border-right:0 !important;}
	.mList6 dl.hover.list11 dt .ls{margin-left:-6px;}
	.mList6 dl.hover.list11 dd{border-left:1px solid #ececec !important;border-right:4px solid #534cbf !important;margin-right:0 !important;margin-left:-2px !important;}
	
	.mDate1{margin:0 0 40px;padding:40px 0 25px;}
	.mDate1 .dep1{position:relative;margin:0 0 10px;}
	.mDate1 .dep1 .date{position:relative;font-size:28px;margin:0 auto;width:290px;line-height:31px;height:27px;}
	.mDate1 .dep1 .iPrev,
	.mDate1 .dep1 .iNext{left:-15px;background:url(../images/icon/ico-prev3-pc.png) 50% 50% no-repeat;width:15px;height:27px;}
	.mDate1 .dep1 .iNext{left:auto;right:-15px;background-image:url(../images/icon/ico-next3-pc.png);}
	.mDate1 .dep2{margin:15px 0 0;}
	.mDate1 .dep2 .lst{display:inline;}
	.mDate1 .dep2 a{display:inline-block;background:url(../images/icon/ico-bar1.png) 100% 45% no-repeat;color:#777;margin:7px 10px 0 0;padding:0 10px 0 0;line-height:130%;height:auto;}
	.mDate1 .dep2 a.selected{color:#333;font-weight:bold;border-bottom:0;font-weight:bold;height:auto;}
	.mDate1 .dep2 a.selected:before{display:none;}
	
	div.mTag1{padding:30px 0 36px;}
}

@media all and (min-width:1280px){
	
	.mMDb2 .db2bg{padding:0 20px;}
	.mMDb3,
	.mMDb4 .db4bg,
	.mMDb5,
	.mMDb1 .db1bg{max-width:1180px;}
	.mMDb1 .owl-theme .owl-dots{right:50%;margin-right:-590px;max-width:1180px;}

	.mMDb2{padding-bottom:30px;zoom:1;}
	.mMDb2:after{display:block;clear:both;content:''}
	.mMDb2 h3{float:left;margin:0 0 0 15px;width:198px;height:198px;}
	.mMDb2 h3 span{background:url(../images/db/ico-db03-01-pc.png) 100% 42% no-repeat;font-size:18px;margin:42px 0 -2px;padding:0 15px 0 0;}
	.mMDb2 h3 em{font-size:28px;}
	.mMDb2 .list{margin:0 0 0 230px;width:auto;}
	.mMDb2 .owl-carousel .owl-item .item a{height:200px;}
	
	.mMDb3 .list{margin-right:-20px;}
	.mMDb3 .owl-carousel .owl-stage-outer{margin-left:-30px;}
	.mMDb3 .owl-carousel .owl-item .item{padding-left:30px;}
	/*
	.mMDb3 .owl-carousel .owl-item .item{padding-left:20px;}
	.mMDb3 .owl-carousel .owl-item .mImg1{float:none;width:249px;height:355px;}
	.mMDb3 .owl-carousel .owl-item .item{border-left:1px solid #f5f4f9;padding:0 0 0 30px;width:279px;}
	*/
	
	.mMDb4 .gImg1{float:left;margin:0;width:670px;}
	.mMDb4 .gImg1 .mImg1{width:670px;height:425px;}
	.mMDb4 .list{padding:0 0 0 710px;}
	.mMDb4 .owl-carousel .owl-item .mImg1{height:203px;}
	.mMDb4 .owl-carousel .owl-item .item{width:143px;}
}


@media all and (min-width:1440px){
	.mMDb2 .db2bg{margin:0 auto;padding:0;width:1520px;}
	.mMDb6,
	.mMDb6 .mImg1,
	.mMDb6 .mImg1 img{max-width:1728px;max-height:370px;}
	
	.mMDb2 .owl-carousel .owl-item .item{min-width:126px;}
	
	.mMDb3 .owl-carousel .owl-item .mImg1{width:249px;height:355px;}
	
	/*
*/

}
