@charset "utf-8";
.top-area-subtxt p{
    padding:0 30px 30px;
    color:#777;
    font-size: 1em;
    text-align:center;
    letter-spacing:-0.25px;
}
.target-select li{
    background-color:#efeef6;
    margin-top:9px;
}
.target-select li:first-child{
    margin-top:0;
}
.target-select li:first-child a:before{
    content:'';
    background:url(../images/icon/ico-member01-m.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width:36px;
    height:36px;
    display:inline-block;
    margin-right:20px;
}
.target-select li:nth-child(2) a:before{
    content:'';
    background:url(../images/icon/ico-member02-m.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width:36px;
    height:36px;
    display:inline-block;
    margin-right:20px;
}
.target-select li:nth-child(3) a:before{
    content:'';
    background:url(../images/icon/ico-member03-m.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width:36px;
    height:36px;
    display:inline-block;
    margin-right:18px;
}
.target-select li a{
    padding:25px 30px;
    display: block;
}
.target-select li p{
    font-size: 1.33em;
    display:inline-block;
    letter-spacing: -0.25px;
}
.target-select li p span{
    display:block;
    font-size:0.75em;
}
.regi-menu{
    overflow:hidden;
    margin-bottom:30px;
}
.regi-menu li{
    float:left;
    width:25%;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size:1em;
    font-weight:600;
    border-bottom:1px #ececec solid;
    letter-spacing: -0.25px;
    line-height:1em;
}
.regi-menu li span+span{
    display:block;
    font-size:1.17em;
    font-family: "Spoqa Han Sans", sans-serif;
    line-height:1.17em;
    margin-top:5px;
}
.regi-menu li a{
    min-height:41px;
    display:block;
    position: relative;
    color:#999;
}
.regi-menu li a span{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:100%;
}
.regi-menu li a span+span{
    display:none;
}
.regi-menu li.selected a span+span{
    display:block;
}
.regi-menu li.selected{
    border-bottom:1px #534cbf solid;
}
.regi-menu li.selected a{
    color:#534cbf;
}
.regi-menu li.selected span{
    position:inherit;
    top:inherit;
    left:inherit;
    transform: inherit;
}
.choose-txt{
    padding:10px 30px 0;
}
.choose-txt p{
    font-size:1.2em;
    text-align:center
}
.choose-txt p span{
    display:none;
}
.confirm{
    padding:30px 0;
}
.confirm-box{
    background-color:#f5f4f9;
    position: relative;
    font-size:1.17em;
    padding: 25px 15px 18px 15px;
}
.confirm-box+.confirm-box{
    padding:18px 15px 25px 15px;
}
.confirm-box a{
    display:block;
}
.confirm-box a .ico-moveright{
    background:url(../images/icon/ico-moveright-m.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width:10px;
    height:15px;
    display:block;
    float:right;
    position: absolute;
    top:50%;
    right:15px;
    transform: translate(0, -50%);
}
.confirm-box span:first-child{
    font-size:1em;
    line-height:1em;
    color:#333;
    display:block;
}
.confirm-box span+span{
    display:block;
    font-size:0.86em;
    line-height: 0.86em;
    color:#777;
    margin-top:10px
}
.line-fold-list .accordion-header a{
    letter-spacing: -0.25px
}
.infoarea li:first-child{
    margin-top:0;
}
.infoarea li{
    font-size:1.2em;
    margin-top:40px;
}
.infoarea li p{
    font-size:0.835em;
    color:#999;
    margin-top:15px;
}
.myinfo{
    font-size:1.333em;
    padding: 0 0 50px;
}
.myinfo ul{
    margin-top:5px;
}
.myinfo li{
    position:relative;
    padding-left:10px;
    display:inline-block;
    font-size: 0.875em;
}
.myinfo li:first-child{
    padding-left:0;
}
.myinfo .bullet-dot:before{
    content:'';
    position:absolute;
    width:2px;
    height:2px;
    background-color: #bbb;
    top:9px;
    left:3px;
    border-radius: 50%
}
.memberfill .fieldset .field .with-email .at-box{
    border-bottom: 1px #d8d8d8 solid;
    margin-left:inherit;
    padding:0 4px;
    flex-basis: 4% !important;
    -ms-flex-basis: 4% !important;
}
.memberfill .fieldset .field .with-email .dash-box{
    -ms-flex-basis:4% !important;
    flex-basis:4% !important;
    border-bottom: 1px #d8d8d8 solid;
    text-align:right;
    line-height:35px;
    padding-left:5px;
}
.memberfill .fieldset .field .insert-multi .box + .box{
    margin-left:inherit;
    flex-basis: 50%;
    -ms-flex-basis:50%
}
.memberfill .selectric{
    border:none;
    border-bottom:1px #d8d8d8 solid;
}
.memberfill .selectric .label{
    height:35px;
    line-height:35px;
    font-size: 1em;
    color:#bbb;
}
.child-birth .selector-wrap,
.gender .selector-wrap{
    margin-top:10px;
}
.fieldset .field .id-check{position:relative;}
.fieldset .field .id-check>div{padding-right:105px;}
.fieldset .field .id-check.w1>div{padding-right:136px;}
.fieldset .field .input-email.mt1{margin-top:4px;}
.id-check input:nth-child(2){position:absolute;width:97px;top:0;right:0;}
.id-check.w1 input:nth-child(2){padding:0 10px;width:auto;}
.fieldset .field > .label .comment-line{letter-spacing:0;}
.email-box input.w45{
    float: left;
    width: 45% !important;;
}
.email-box span.mail-at{
    float: left;
    width: 5%;
    border-bottom: 1px #d8d8d8 solid;
    height: 36px;
    line-height:36px;
    color:#bbb;
    text-align: center;
}
.email-select .selectric{
    border:none;
    border-bottom:1px solid #e1e1e1;
}
.email-select .selectric .label {
    font-size: 1em;
    color: #bbb;
    margin-left: 0;
    height: 35px;
    line-height: 36px;
}
.recieve-select{
    margin:15px 0 9px 0
}
.btn-next{
    margin-top:30px;
}
.btn-next .btn.large{
    padding:0 60px;
}
.complete{
    text-align: center;
    padding-top:20px;
}
.complete img{
    width:36px;
    height:36px;
}
.complete p{
    font-size:1.3336em;
    line-height:16px;
    margin:19px 0 6px;
}
.complete span{
    font-size:1em;
    color:#777;
    line-height:20px;
    display:block;
}
.complete .btn-group{
    margin-top:30px;
}
.agreeterm .agreeterm-agree{
    padding-bottom:16px;
    margin-bottom:20px;
    border-bottom:2px #ececec solid;
}
.agreeterm-agree .selector-wrap .asset .label{
    font-size:1.17em;
    padding-left:7px;
}
.agreeterm h3{
    font-size:1.17em;
    font-weight: 400;
    padding-bottom: 16px
}
.agreeterm-terms-box{
    width:100%;
    height: 185px;
    border: 1px #ececec solid;
    padding:16px 0 16px 15px;
    margin: 0 auto;
}
.mCSB_scrollTools .mCSB_draggerContainer{
    visibility: hidden;
}
.mCSB_inside > .mCSB_container{
    margin-right:15px;
}
.agreeterm-terms-box .mCSB_scrollTools .mCSB_draggerRail{
    width:5px;
    background-color:#3b3b3b;
}
.agreeterm-terms-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width:5px;
}
.term-content dl{
    margin:0
}
.term-content dt{
    margin-top:15px
}
.term-content dd{
    margin:10px 0 0;
    font-size: 0.92em;
    color:#999;
}
.term-content h4:first-child{
    margin-top:0;
}
.term-content h4{
    margin-top:20px;
}
.agreeterm-terms .selector-wrap{
    margin:15px 0;
    float:right;
}
.agreeterm-terms .selector-wrap.horizontal .asset{
    margin:0;
}
.agreeterm-terms .selector-wrap.horizontal .asset:first-child{
    margin-right: 16px
}
.member-priacy{
    clear:both;
    padding-top:35px;
}
.member-priacy .term-content dl:first-child dt{
    margin-top:0;
}
.agreeterm .btn-next{
    clear:both;
    padding-top:15px;
    margin-top: 0
}
.parents-agree{
    padding-top:32px;
}
.parents-agree li:first-child{
    margin-bottom:15px;
}
.addr-check>div{
    position:relative;
}
.addr-check .addr-check-left{
    padding-right:91px;
}
.addr-check input[type=submit]{
    position:absolute;
    right:0;
    top:0;
    width:81px;
    margin-left:10px;
}
.addr-check>input[type=text]{
   margin-top:5px;
}
.select-favorit{
    padding:50px 0 15px 0;
    border-bottom:1px #d8d8d8 solid;
}
.select-favorit p{
    font-size: 1.17em;
}
/* .fieldset .field.favorit > .label{
    padding:15px 0;
    border-bottom:1px #d8d8d8 solid;
}
.favorit .selector-wrap.horizontal .asset{
    width:50%;
    margin-right:0;
}
.favorit .selector-wrap{
    padding:15px 0 5px 0;
    border-bottom:1px #d8d8d8 solid;
}
.favorit .selector-wrap .asset{
    margin-bottom:10px;
}
.fieldset .field + .field.favorit-movie{
    margin-top:0;
} */
.memberfill .selectric .label{
    margin-left:0;
}
.fieldset .field.favorit > .label{
    margin-bottom:10px;
}
.fieldset .field.favorit{
        border-bottom: 1px #d8d8d8 solid;
}
.foreigner .regi-menu li{
    width:33.33333%;
}
.foreigner-agree p{
    font-size: 1em;
    margin-bottom:15px;
}
.foreigner-agree p a{
    color:#999;
}
.box-fold-list .accordion-content{
    color:#999;
}
.parents-agree.foreigner-agree li{
    margin-bottom:8px;
    color:#534cbf;
}
.parents-agree.foreigner-agree li:last-child{
    margin-bottom:0;
}
.foreigner .agreeterm .agreeterm-agree{
    padding-top:50px;
}
.foreigner .complete p{
    margin:0 0 12px 0;
    line-height: 24px
}
.foreigner .complete span{
    line-height:20px;
    padding: 0 30px;
}
.foreigner .complete span a{
    color:#777;
}
section.pop-wrap{
    width:260px;
    height:195px;
    padding:24px 20px 20px 20px;
    background:#fff;
    position:relative;
    display:none;
}
.pop-title{
    font-size: 1.417em;
    padding-bottom: 19px;
    border-bottom: 1px #333 solid;
    text-align: center;
    line-height:1;
}
.pop-cont{
    text-align: center;
}
.pop-cont p{
    padding:16px 0 20px;
    font-size:1.1667em;
    line-height: 22px
}
.pop-cont .btn.large{
    padding:0 60px;
}
.b-close{
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    background:none;
    position:absolute;
    top:15px;
    right:15px;
}
.ico-popclose{
    background:url(../images/common/popclose-m.png) 0 0 no-repeat;
    width:16px;
    height: 16px;
    background-size: 100% 100%;
    display:block;
}

.mMInfo1{background:url(../images/icon/ico-feel3.png) 0 16px no-repeat;background-size:16px auto;border-top:1px solid #ececec;font-size:12px;margin:30px 0 0;padding:15px 0 0 22px;}
.mMInfo1 .ti{display:block;font-size:14px;margin-bottom:6px;}
.mMInfo1 .tel{color:#534cbf;margin:6px 0 0;}
.mMInfo1 .tel .ls{display:inline-block;padding-right:20px;}
.mMInfo1 .tel .t{font-family:'Oswald', sans-serif;font-style:normal;font-weight:bold;}
.mMInfo1 .tel a{color:#534cbf;}


@media all and (min-width:1024px){
    .top-area-subtxt p{
        padding: 30px 0 60px 0;
        line-height: 29px;
        max-width: 380px;
        margin: 0 auto;
    }
    .target-select li{
        float:left;
        margin-top: 0;
        width:32%;
        height:280px;
        margin:0 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border:2px #efeef6 solid;
    }
    .target-select li:first-child{
        margin-left:0;
    }
    .target-select li:last-child{
        margin-right:0;
    }
    .target-select{
        overflow:hidden;
    }
    .target-select li:first-child a:before{
        background:url(../images/icon/ico-member01.png) 0 0 no-repeat;
        width:60px;
        height:60px;
        display:block;
        margin:0 auto 30px;
    }
    .target-select li:nth-child(2) a:before{
        background:url(../images/icon/ico-member02.png) 0 0 no-repeat;
        width:60px;
        height:60px;
        display:block;
        margin:0 auto 30px;
    }
    .target-select li:nth-child(3) a:before{
        background:url(../images/icon/ico-member03.png) 0 0 no-repeat;
        width:60px;
        height:60px;
        display:block;
        margin:0 auto 30px;
    }
    .target-select li a{
        padding:67px 0 70px 0;
        position:relative;
    }
    .target-select li:hover{
        background:#fff;
        border:2px #534cbf solid;
    }
    .target-select li:hover p{
        color:#534cbf;
    }
    .target-select li p{
        text-align:center;
        font-size:1.6em;
        line-height: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
    .target-select li p span{
        margin-top: 17px;
        font-size:0.625em;
        line-height: 23px
    }
    .confirm-box span:first-child{
        display:inline-block;
        float:left;
    }
    .confirm-box span+span{
        display:inline-block;
        margin-top: inherit;
        padding:3px 0 3px 10px;
        font-size:0.83em;
        float:left;
    }
    .confirm{
        padding:60px 0;
    }
    .confirm-box{
        font-size:1.2em;
        padding: 44px 0 15px;
        line-height:1.2em;
    }
    .confirm-box+.confirm-box{
        padding:15px 0 44px;
    }
    .confirm-box a{
        max-width: 525px;
        text-align: left;
        margin: 0 auto;
    }
    .confirm-box a .ico-moveright{
        background:url(../images/icon/ico-moveright.png) 0 0 no-repeat;
        width:9px;
        height:14px;
        position: inherit;
        float: inherit;
        display: inline-block;
        vertical-align: text-bottom;
    }
    .confirm-box:first-child span+span{
        padding-right:10px;
    }
    .confirm-box span+span+span{
        margin-top:0;
        padding-left:0;
        padding-right: 10px;
    }
    .regi-menu{
        margin:10px 0 60px 0;
    }
    .regi-menu li{
        font-size:1.2em;
    }
    .regi-menu li a{
        min-height:72px;
    }
    .regi-menu li a span+span{
        font-size:1em;
        display:block;
        margin-top:14px;
    }
    .regi-menu li a span {
        position: inherit;
        top: inherit;
        left: inherit;
        transform: inherit;
    }
    .choose-txt{
        max-width:660px;
        margin:0 auto;
        padding:40px 0 0;
    }
    .choose-txt p{
        font-size:1.866em;
        line-height:36px;
        letter-spacing: -0.25px
    }
    .choose-txt p span{
        display:block;
        font-size: 0.536em;
        color: #777;
        margin-top: 20px;
    }
    .myinfo{
        padding-bottom:63px;
        font-size:1.867em;
    }
    .myinfo li{
        font-size:0.643em;
    }
    .memberfill .selectric .label,
    .memberfill .selectric .button{
        height:45px;
        line-height:45px;
    }
    .memberfill .fieldset .field .insert-multi .box + .box{
        line-height:45px;
    }
    .memberfill .fieldset .field .insert-multi .box{
        flex-basis:33%;
        -ms-flex-basis: 33%;
    }
    .memberfill .fieldset .field .with-email .dash-box{
        -ms-flex-basis:4% !important;
        flex-basis:4% !important;
        border-bottom: 1px #d8d8d8 solid;
        text-align:right;
        line-height:35px;
        padding-left:5px;
    }
    .memberfill .fieldset .field .with-email .select-box{
        flex-basis:33% !important;
        -ms-flex-basis: 33% !important;
    }
    .memberfill .inline-email .insert{
        position:relative;
    }
    .memberfill .input-email{
        position: absolute;
        top: 0;
        width: 31% !important;
        right: 0;
        padding-left: 10px;
    }
    .fieldset .field .id-check>div{
        padding-right:160px;
    }
    .id-check input:nth-child(2){
        width:150px;
        margin-left:10px;
        padding:0;
    }
    .fieldset .field.newletter > .label label{
        border-bottom:none;
    }
    .child-birth .selector-wrap, .gender .selector-wrap{
        margin-top:0;
    }
    .email-box input.w45{
        width:34.6% !important;
    }
    .email-box span.mail-at{
        width:1.2%;
    }
    .email-box .selectric-wrapper{
        float:left;
        width:34.6%
    }
    .email-input{
        width:25.4% !important;
        float:left;
        margin-left:10px;
    }
    .recieve-select{
        margin-top:9px;
    }
    .btn-next{
        margin-top:52px;
    }
    .myinfo .bullet-dot:before{
        top:13px;
    }
    .complete{
        padding-top:40px;
    }
    .complete img{
        width:64px;
        height:64px;
    }
    .complete p{
        margin:28px 0 20px 0;
        font-size:1.86667em
    }
    .complete .btn-group{
        margin-top:60px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer{
        visibility: visible;
    }
    .mCSB_inside > .mCSB_container{
        margin-right:30px;
    }
    .agreeterm{
        padding-top:40px;
    }
    .agreeterm .agreeterm-agree{
        padding-bottom:22px;
        margin-bottom:60px;
    }
    .agreeterm-agree .selector-wrap .asset .label{
        font-size:1.2em;
        padding-left:10px;
    }
    .agreeterm h3{
        font-size:1.2em;
        padding-bottom:20px;
    }
    .term-content h4{
        font-size:1em;
    }
    .term-content dd{
        font-size:1em;
        line-height:29px;
    }
    .term-content dt{
        margin-top:40px;
    }
    .term-content dl dt.first{
        margin-top:20px;
    }
    .term-content dd{
        margin-top:13px;
    }
    .agreeterm-terms-box{
        padding:20px 0 20px 20px;
        height:200px;
    }
    .agreeterm .mCSB_scrollTools{
        right:5px;
    }
    .agreeterm-terms .selector-wrap{
        margin:20px 0;
    }
    .member-priacy{
        padding-top:40px;
    }
    .agreeterm-terms .selector-wrap.horizontal .asset:first-child{
        margin-right:40px;
    }
    .agreeterm .btn-next{
        padding-top:40px;
    }
    .parents-agree{
        padding-top:60px;
    }
    .fieldset .field.child-birth  input[type="text"]{
        width:50%;
        float:left;
    }
    .child-birth .selector-wrap{
        width: 50%;
        float: left;
        padding: 8px 0 7px;
    }
    .gender .selector-wrap{
        border-bottom: 1px #d8d8d8 solid;
        padding: 8px 0 7px;
    }
    /* .addr-check>div{
        width:50%;
    } */
    .addr-check .addr-check-left{
        padding-right:143px;
    }
    .addr-check input[type=submit]{
        width:133px;
    }
    .fieldset .field .addr-check>input[type=text]{
        position:inherit;
        margin-left: inherit;
        float:left;
        width:50%;
        margin-top:20px;
    }
    .fieldset .field .addr-check>input.add-detail{
        width:49%;
        margin-left:1%;
    }
    .select-favorit{
        padding:100px 0 20px 0;
    }
    .select-favorit p{
        font-size:1.2em;
    }
    /* .favorit .selector-wrap.horizontal .asset{
        width:inherit;
        margin-bottom:10px;
        width:168px;
    }
    .fieldset .field.favorit > .label{
        float:left;
        border-bottom:none;
        min-width:337px;
        padding:0 0 10px 0;
    }
    .fieldset .field.favorit{
        padding:25px 0 15px 0;
        border-bottom:1px #d8d8d8 solid;
    }
    .favorit .selector-wrap{
        padding:0;
        border-bottom:inherit;
    } */
    .fieldset .field.job{
        width:60%;
        margin-top:50px;
        padding-left:340px;
    }
    .fieldset .field.favorit > .label,
    .fieldset .field.job >.label{
        width:340px;
        margin-bottom:0;
    }
    .fieldset .field.favorit{
        padding-left:340px;
        margin: 20px 0;
        padding-bottom: 15px;
    }
    .foreigner .agreeterm .agreeterm-agree{
        padding-top:60px;
    }
    .foreigner .complete p{
        line-height: 42px;
        margin-bottom:20px;
    }
    .foreigner .complete span{
        line-height:29px;
        padding:0 300px;
    }
    .foreigner .complete .btn-group{
        margin-top:30px;
    }
    .pop-wrap{
        width:430px;
        height:290px;
        padding:40px 30px 30px 30px;
    }
    .pop-title {
        font-size: 1.86667em;
        padding-bottom: 29px;
    }
    .pop-cont p {
        padding: 23px 0 33px;
        font-size: 1.2em;
        line-height: 32px;
    }
    .pop-cont .btn.large{
        padding:0 40px;
    }
    .ico-popclose {
        background: url(../images/common/popclose-d.png) 0 0 no-repeat;
        width: 20px;
        height: 20px;
    }
    .fieldset .field .row.space{
        margin-top:20px;
    }

	
	.mMyinfo .fieldset .field{padding-left:0;}
	.mMyinfo .fieldset .field > .label{position:static;width:auto;}
	.mMyinfo .fieldset .field > .label label{border-bottom:0;}
	.fieldset .field > .insert.mt1{margin-top:0;}
	.fieldset .field > .insert.mt1 .row{float:left;margin-top:15px;width:50%;}
	.fieldset .field > .insert.mt1 .row.space input{margin-left:10px;}
	.fieldset .field > .insert{position:relative;}
	.fieldset .field > .insert.type2{width:590px;}
	.fieldset .field.newletter > .label,
	.fieldset .field.inline-email > .label{zoom:1;}
	.fieldset .field.newletter > .label:after,
	.fieldset .field.inline-email > .label:after{display:block;clear:both;content:''}
	.fieldset .field.newletter.type2 > .label label,
	.fieldset .field.newletter.type2 > .label .comment-line,
	.fieldset .field.inline-email.type2 > .label label,
	.fieldset .field.inline-email.type2 > .label .comment-line{clear:none;float:left;}
	.fieldset .field.newletter > .label .comment-line,
	.fieldset .field.inline-email > .label .comment-line{font-size:14px;margin-left:10px;padding-top:7px;}
	.fieldset .field > .label .forPc{display:inline-block;}
	.fieldset .field .direct{position:absolute;top:0;right:0;width:92%;}
	.fieldset .field .direct .input-email{margin:0;padding:0;}
	
	.mMInfo1{background:url(../images/icon/ico-fee3-pc.png) 0 33px no-repeat;font-size:15px;margin-top:60px;padding:30px 0 0 28px;}
	.mMInfo1 .ti{display:block;font-size:18px;font-weight:400;margin-bottom:6px;}
	.mMInfo1 .tel{margin:6px 0 0;}
	.mMInfo1 .tel .ls{padding-right:20px;}
}
